<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Admin</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/doc.css')}}">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h2>ADMIN Portal</h2>
        <ul>
            <li><a ID="one" href="{{url_for('admin')}}"><i class="fas fa-columns"></i>Dashboard</a></li>
            <li><a href="{{url_for('add')}}"><i class="fas fa-plus"></i>Add</a></li>
            <li><a href="{{url_for('view')}}"><i class="fas fa-eye"></i>View</a></li>
            <li><a href="{{url_for('active')}}"><i class="fas fa-chart-line"></i>Active</a></li>
            <li><a href="{{url_for('complete')}}"><i class="fas fa-clipboard-list"></i>Complete</a></li>
            <li><a href="{{url_for('logout_a')}}"><i class="fas fa-sign-out-alt"></i>Signout</a></li>
        </ul>

    </div>
    <div class="main_content">
        <div class="header"><a href="{{url_for('view')}}"><i class="fas fa-arrow-left"></i></a>&ensp;<strong>Patient Details</strong></div>
        <div class="info">
          <div>
              <div class="row">
                  <div class="col-md-1">
                    &ensp;&ensp;&ensp;<i class="fas fa-notes-medical fa-5x"></i>
                  </div>
                <div class="col-md-4">
                    <p>&ensp; <strong>Patient Id: </strong>{{no}}&ensp;&ensp;&ensp;&ensp;<strong>Name:</strong> {{name}}</p>
                    <p>&ensp; <strong>Gender: </strong> {{gen}}&ensp;&ensp;&ensp;&ensp; <strong>DOB: </strong>{{dob}}</p>
                    <p>&ensp; <strong>City: </strong> {{city}}&ensp;&ensp;&ensp;&ensp; <strong>Concern: </strong>{{con}}</p>
                </div>
              </div>
              <pre class="border-top size_inc"><br></pre>
              <p>The Patient had visited the Doctor on <strong>{{date}}</strong></p>
              <p>The X-ray submitted during the first visit: </p>
              {% if atth %}
                <form action="/download" method="POST">
                    <input type="hidden" name="att_val" value="{{att}}">
                  <input class="inner btn btn-link btn-sm" type="submit" name="btn" value="{{att}}">
                </form>
              {% else %}
              <br>
              {% endif %}
             <br><br>
             <div>
                 <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">File</th>
                    <th scope="col">Download</th>
                  </tr>
                </thead>
                <tbody>
                   {% if upl %}

                   {% for i in range(length) %}

          <form class="new" action="/download" id={{i}} method="POST">
              <input type="hidden" name="att_val" value="{{rep[i][0]}}">
              <tr>
                    <th scope="row">{{i+1}}</th>
                    <td>{{dt_upl[i][0].split()[0]}}</td>
                    <td>{{dt_upl[i][0].split()[1]}}</td>
                    <td>{{rep[i][0]}}</td>
                    <td><input class="inner btn btn-link btn-sm" type="submit" name="btn" value="Download"></td>
              </tr>
          </form>

          {% endfor %}

                   {% else %}
                   <br>
                   {% endif %}
                     </tbody>
            </table>
             </div>
      </div>
            <div>
                {% if val == 0 %}
                <form class="new" action="/cases" method="POST">
                    <input type="hidden" name="text" value="{{no}}">
                    <br><br>
                  <input class="inner btn btn-primary btn-sm" name="btn" type="submit" value="Mark Completed">
                </form>
                {% else %}
                <br><br>
                <p>This Case is Completed</p>
                <input class="inner btn btn-primary btn-sm" name="btn" type="submit" value="Mark Completed" disabled>
                {% endif %}
            </div>
    </div>
</div>
</div>
</body>
</html>